{% extends "base.html" %}


{% block pagetitle %}404{% endblock %}
{% block content %}

<section class="full_width">
            <h1 style="font-size:390px; text-align:center; display:block; padding:0px 0px; line-height:normal; ">404</h1>
            <h2 style="text-align:center;">We're sorry, but the page you were looking for doesn't exist.</h2>
            <p style="text-align:center;">It looks like this was the result of either  a mistyped address or an out-of-date link.</p>
            <p style="text-align:center;"> Please check entered address and try again or <a href="/" class="button button-small black"> <span>GO TO HOMEPAGE</span></a> 
            </p>   
</section><!-- /.full_width --> 
         
{% endblock %}
        