{% extends "base.html" %}

{% block title %}
RC-Stats About
{% endblock %}

{% block description %}    
RC-Stats stores your remote control race results and gives you tools to track your race results. We support indoor, outdoor, on-road, and off-road RC racing.
{% endblock %}

{% block pagetitle %}About RC-Stats{% endblock %}
{% block pagetitle_description %}About the site and the team{% endblock %}


{% block content %}

<section class="full_width">

<h3>Meet the Team</h3>
<p>
All off the work to design, build, and maintain the rc-stats site comes from volunteers. This is not just a one man effort, but a collective  effort by enthusiasts throughout the racing community. We are passionate about RC racing and the growth of the sport, this site is the embodiment of that vision. If you see one of the following individuals or you race at a track that uploads their results, please thank them because without their effort and support we would still be reading flat text files.
</p>
<br />

<table class="invisible_table">
<tr>
<td>   
     <section class="team_box">
       <img src="images/team_man.jpg" alt="image" />
       <h4>Grace Honstain</h4>
       <small>UX Developer and Administrator</small>
       <p>Helps develop and refine the user experience along with administrating the server and the database.</p>
     </section><!-- /.team_box -->
 </td>
<td>   
     <section class="team_box">
       <img src="images/team_woman.jpg" alt="image" />
       <h4>Brandon Collins</h4>
       <small>Graphic design</small>
       <p>Designed the logo and consulted on the layout and organization of the site.</p>
     </section><!-- /.team_box -->
</td>
<td>  
    <section class="team_box">
      <img src="images/team_man.jpg" alt="image" />
      <h4>Anthony Honstain</h4>
      <small>Developer and Founder</small>
      <p>Created the initial version of the site and continues to develop on the entire system stack.</p>
    </section> <!-- /.team_box -->
</td>
</tr></table>
   
   </section><!-- /.full_width -->
<section class="clear_full"></section> 

{% endblock %}