{% extends "base.html" %}

{% block title %}
RC-Stats About
{% endblock %}

{% block description %}    
Information about RC-Stats and the race enthusiast that make the site possible.
{% endblock %}

{% block pagetitle %}About RC-Stats{% endblock %}
{% block pagetitle_description %}About the site and the team{% endblock %}


{% block content %}

<section class="full_width">

<h3>Meet the Team</h3>
<p>
All off the work to design, build, and maintain the rc-stats site comes from volunteers. This is not just a one man effort, but a collective  effort by enthusiasts throughout the racing community. We are passionate about RC racing and the growth of the sport, this site is the embodiment of that vision. If you see one of the following individuals please thank them because without their effort and support this would not be possible.
</p>
<p>
The tracks that make the effort to upload results and engage the racing community are also deserving of your support and patronage.
</p>
<br />

<table class="invisible_table">
<tr>
<td>
<section class="one_fourth">   
     <section class="team_box">
       <img src="/media/images/grace_buggy.jpg" alt="image" />
       <h4>Grace Honstain</h4>
       <small>UX Developer and Administrator</small>
       <p>Helps develop and refine the user experience along with administrating the server and the database.</p>
     </section><!-- /.team_box -->
</section><!-- /.section one_fourth -->
</td>
<td>   
<section class="one_fourth">
     <section class="team_box">
       <img src="/media/images/brandon.jpg" alt="image" />
       <h4>Brandon Collins</h4>
       <small>Graphic design</small>
       <p>Designed the logo and consulted on the layout and organization of the site.</p>
       <p>Sponsored by: <a href="http://www.fantomracing.com">Fantom Racing</a>
       <a href="http://www.rcspeedshop.net">RCSpecialties</a></p>
     </section><!-- /.team_box -->
</section><!-- /.section one_fourth -->
</td>
<td>  
<section class="one_fourth">
    <section class="team_box">
      <img src="/media/images/anthony.jpg" alt="image" />
      <h4>Anthony Honstain</h4>
      <small>Developer and Founder</small>
      <p>Created the initial version of the site and continues to develop on the stack.</p>
    </section> <!-- /.team_box -->
</section><!-- /.section one_fourth -->
</td>
</tr></table>
   
   </section><!-- /.full_width -->
<section class="clear_full"></section> 

{% endblock %}