{% extends "base.html" %}


{% block pagetitle %}Log in{% endblock %}
{% block pagetitle_description %}We are almost ready to start creating accounts!{% endblock %}


{% block content %}

<section class="full_width">
{{ state }}
<form action="/login/" method="post">
	{% csrf_token %}
	{% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	username:
	<input type="text" name="username" value="{{ username}}" /><br />
	password:
	<input type="password" name="password" value="" /><br />

	<input type="submit" value="Log In" />
</form>
</section><!-- /.full_width --> 

{% endblock %}
	