{% extends "base.html" %}


{% block pagetitle %}Frequently Asked Questions{% endblock %}
{% block pagetitle_description %}Are listed questions and answers{% endblock %}


{% block content %}

<section class="full_width">           		
<h3>Got Questions? We've Got Answers!</h3>
<p>This is our FAQ's page where you will find answers to the most commonly asked questions.</p>

<div id="accordion">

	<div>
        <h3><a href="#">How do I use this site?</a></h3>
        <div>
        <p>Please watch the video below for a simple walk through of the main features.</p>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/GUwx7bo3fNo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
	<div>
        <h3><a href="#">How can I help?</a></h3>
        <div>
        <p>I are currently looking for responsible members of the community to upload race results. I have almost finished the functionality to  let leaders from the community log in an upload race results at their leisure (some tracks do not have internet available at the track, which would limit the options for an automatic upload).</p>
        </div>
    </div>
    <div>
        <h3><a href="#">How can my track get involved?</a></h3>
        <div>
        <p>I need volunteers to help collect and upload race data.</p>                      
        <p>Any track or event using the supported  result format can have its own section of rc-stats. If we have results, it is easy to expand and create a page specific for a track of special race series. All your series races tracked on a single page!</p>
        </div>
    </div>
    <div>
        <h3><a href="#">What about on-road?</a></h3>
        <div>
        <p>If they use RC scoring pro then they can be on rc-stats.com. It has started with off- road but we want to grow and support on-road racing as well. If you have features or suggestions specific to the on-road community (or suggestions in general) please let us know!</p> 
        </div>
    </div>
    <div>
        <h3><a href="#">Why are some results missing?</a></h3>
        <div>
        <p>Not all race result formats are currently supported.</p>                      
        <p>It is also possible that you have raced under a different name depending on the track. It is also possible that multiple names have been used at the same track. The system is currently NOT capable of telling the difference between "John Doe" and "Doe, John". </p>
        </div>
    </div>
            
</div><!-- /.accordion -->
</section><!-- /.full_width --> 

{% endblock %}