{% extends "base.html" %}


{% block pagetitle %}MyResults - {{ racername }}{% endblock %}
{% block pagetitle_description %}Recent results and statistics.{% endblock %}


{% block content %}

        <section class="full_width">
			<h4>The total number of main events organized by race class.</h4>
			<p>This is filtered by races that marked as 'main' events.</p>
			
			<div id="classhistory_graph" style="width:950px;height:500px;"></div>
						
        </section><!-- /.full_width -->         
        <section class="clear_full"></section><!-- /.clear_full --> 

		
        <section class="full_width">
        	<h4>Recent race results organized by track and class.</h4>
		        <!-- Overview of the js object from the view we are going to work with:
				    [
		
				        {
				         "js_id": <>
				         "trackname": <>,
				         "classes": [
				                    {"js_id":<>
				                     "classname": <>,
				                     "individual_racedata": [
		
				                                             {'date':<>, 'id':<>, "js_id":<>}, 
				                                             ...
				                                            ]
				                    }
				                    ... Multiple classes
				                   ]
				         }
		
				         ... Multiple tracks 
				    ]
				
				-->
		
		{% if recent_race_data %}			    
			
			{% for track in recent_race_data %}
			<!-- ************************************************* -->
			<!-- Track Section -->
			<!-- ************************************************* -->
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>{{ track.trackname }}</h3>
		    </section> <!--  END content_heading -->
		    
		    <div id="tracktabs_{{ track.js_id }}"> <!-- Recent race history -->
			    <ul>			    
			    	{% for class in track.classes %}
					<!-- ************************************************* -->
					<!-- Class Tabs Section -->
					<!-- ************************************************* -->
		        	<li><a href="#classtabs_{{ track.js_id }}_{{ class.js_id }}">
		        		<span>{{ class.classname }}</span>
		        	</a></li>
			        {% endfor %}
			        
			    </ul>
			    
			    {% for class in track.classes %}				    	
				<!-- ************************************************* -->
				<!-- Class Tab CONTENT Section -->
				<!-- ************************************************* -->
		    	<div id="classtabs_{{ track.js_id }}_{{ class.js_id }}">	
		    		
		    		<section class="divider_line"></section>
		    		<h6>The most recent results for {{ class.classname }}.</h6>
					<!-- ************************************************* -->
					<!-- Race Date BUTTON Section -->
					<!-- ************************************************* -->		    		
		    		{% for race in class.individual_racedata %}
					<input type="submit" class="button button-small white" value="{{ race.date }}" id="load_basic_{{ track.js_id }}_{{ class.js_id }}_{{ race.js_id }}" />     
					{% endfor %}					
					
					<div id="result_{{ track.js_id }}_{{ class.js_id }}"  class="functions"></div> 
					<div id="lap_graph_{{ track.js_id }}_{{ class.js_id }}"  class="functions" style="width:950px;height:500px;"></div> 
					
	    		</div>
	    		
		    	{% endfor %}
			</div> <!-- END tabs --> 
			{% endfor %}
			    
		{% else %}
			    <p>No recent race history available.</p>
		{% endif %}

        </section><!-- /.full_width -->         
        <section class="clear_full"></section><!-- /.clear_full --> 


        <section class="full_width">
          <h4>Total race history organized by the date of the race.</h4>
		
			    <p>
			    Race results graphed by time (shorter bars are better). The 
			    x-axis uses time as a scale, so you can	see periods of 
			    inactivity or more frequent racing. The y-axis (height of 
			    the bar) indicates how you finished the race, 1 being first
			    place.
			    </p>  
					
			    <div id="placeholder" style="width:950px;height:300px;"></div>
        </section><!-- /.full_width -->         
        <section class="clear_full"></section><!-- /.clear_full --> 
        
{% endblock %}


{% block scripts %} 
  
   	<script src="/media/js/datatables/jquery.dataTables.js" type="text/javascript" language="javascript"></script>
  	<script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script> 
  	<script type="text/javascript" src="/media/js/flot/jquery.flot.pie.min.js"></script>    
	
	<script type="text/javascript" charset="utf-8">
		// Flot Graph of the class history/frequency PIE CHART
		$(function (data) {
		var css_id = "#classhistory_graph";
		var data = {% autoescape off %} {{ classfreq_jsdata }} {% endautoescape %};    
		var options = {
			yaxis: {
		    	ticks: 10,
		        min: 0,
		        max: 10
		    },
		    xaxis: { mode: "time" }, 
		    series: {
       			pie: {
         			show: true,
         			label: { show: true, 
         				threshold: 0.04
         				//radius: 3/4,        					
                   		//background: { opacity: 0.5, color: '#000' }
         			}
         			
     			}
		    },                
		};
		
		$.plot($(css_id), data, options);
		});
    </script>		
		
  	<script type="text/javascript" charset="utf-8">
		// Flot Graph of the racers history and results over time.
		$(function (data) {
		var css_id = "#placeholder";
		var data = {% autoescape off %} {{ racehistory_jsdata }} {% endautoescape %};    
		var options = {
			yaxis: {
		    	ticks: 10,
		        min: 0,
		        max: 10
		    },
		    xaxis: { mode: "time" }, 
		    series: {color: '#0055bb',
		    	stack: 0,
		        lines: {show: false, steps: false },
		        bars: {show: true, barWidth: 0.9, align: 'center',},
		    },                
		};
		
		$.plot($(css_id), data, options);
		});
    </script>		
	    
	<!-- Script for the tabs -->
	<script type="text/javascript"  charset="utf-8">
    $(document).ready(function() {
		{% if recent_race_data %}			    
			{% for track in recent_race_data %}				  	
				$("#tracktabs_{{ track.js_id }}").tabs();			  			  	
	  		{% endfor %}
	  	{% else %}
	  		// Warning - no race data for recent races.	  	
	  	{% endif %}	  	  	
  	});

  	<!-- Script for the buttons -->
  	$(document).ready(function() {
  	var ajax_load = "<img class='loading' src='/media/images/loadingGif.gif' alt='loading...' />";
		
  	{% for track in recent_race_data %}
  	{% for class in track.classes %}
  	{% for race in class.individual_racedata %}
		$("#load_basic_{{ track.js_id }}_{{ class.js_id }}_{{ race.js_id }}").click(function(){
			$("#result_{{ track.js_id }}_{{ class.js_id }}").html(ajax_load).load("/displayresults/{{ race.id }}/"); 
			$("#lap_graph_{{ track.js_id }}_{{ class.js_id }}").html(ajax_load).load("/displayresults/singleracerlaps/{{ race.id }}/{{ racerid }}/");
		});		
	{% endfor %}
	// Display the first results returned.
	$("#result_{{ track.js_id }}_{{ class.js_id }}").html(ajax_load).load("/displayresults/{{ class.individual_racedata.0.id }}/"); 
	$("#lap_graph_{{ track.js_id }}_{{ class.js_id }}").html(ajax_load).load("/displayresults/singleracerlaps/{{ class.individual_racedata.0.id }}/{{ racerid }}/"); 
	
	{% endfor %}
	{% endfor %}
	
	});
 	</script>

{% endblock %}