{% extends "base.html" %}


{% block banner %}    

    <section id="banner-container">
    	<section class="full_banner_line"></section><!-- /.full_banner_line -->
    	<section class="banner_container_fix">
             
            <div class="flexslider">
            <ul class="slides">
	    	<li>
	    		<img src="/media/images/banner/Barchart_banner.jpg"  alt="image" />
	    		<span class="flex-caption-bgfull"></span>
	    		<span class="flex-caption-bg"></span>
	    		<div class="flex-caption">
                	<h2>RC-Stats - tracking rc race results.</h2>
                    <p>All your race results in a single location for easy comparison and analysis.</p>
                </div>
	    	</li>
	    	<li>
	    		<img src="/media/images/banner/Laptimes_banner.jpg"  alt="image" />
	    		<span class="flex-caption-bgfull"></span>
	    		<span class="flex-caption-bg"></span>
	    		<div class="flex-caption">
                	<h2>Clear graphs to review lap times.</h2>
                    <p>Dynamic visuals to let you review race information at a whole new level.</p>
                </div>
	    	</li>
	    	<li>
	    		<img src="/media/images/banner/IMG_4785.JPG" alt="image" />
	    		<span class="flex-caption-bgfull"></span>
	    		<span class="flex-caption-bg"></span>
	    		<div class="flex-caption">
                	<h2>Race results &amp; performance stats.</h2>
                    <p>Results organized by racer, track, and race class.<br /> Helping you make informed decisions on setup changes. </p>
                </div>
	    	</li>
            </ul><!-- /.slides -->
            </div><!-- /.flexslider -->
        
        </section><!-- /.banner_container_fix --> 
    </section><!-- /#banner-container -->   

{% endblock %}
    
{% block content %}

<section class="full_width">
<section class="strap_box">
<h3>Quick video showing how to use the site.</h3>
<iframe width="660" height="415" src="http://www.youtube.com/embed/GUwx7bo3fNo" frameborder="0" allowfullscreen></iframe>
</section><!-- /.strap_box -->
</section><!-- /.full_width --> 

<section class="full_width">
<section class="strap_box">
<h3>Coming Soon!</h3>
<p>A Ranking system both globally and by class. This will give you the ability to track ranking over time.</p>
<a href="/ranking" class="button orange" target="_self"><span>Current Plans</span></a>
</section><!-- /.strap_box --> 
</section><!-- /.full_width -->
        	
<section class="full_width">
<div class="message-box green">
<h5>A message from the site creator</h5>
<p>Thank you for taking the time to visit rc-stats. I created this site in my free time to help contribute back to the sport I enjoy so much. I have been working hard to incorporate feedback throughout the development process and I want to continue to refine and improve the site. If you have a suggestion on how the site could be easier to use, or a feature that would be useful, I will do my best to help.</p>
<h5>I hope you enjoy the site, thanks! </h5>
</div><!-- /.message-box -->
</section><!-- /.full_width --> 

{% endblock %}