{% extends "base.html" %}

{% block title %}
RC-Stats - Tracking Race Results
{% endblock %}

{% block description %}    
RC-Stats stores your remote control race results and gives you tools to track your race results. We support indoor, outdoor, on-road, and off-road RC racing.
{% endblock %}

{% block banner %}    

    <section id="banner-container">
    	<section class="full_banner_line"></section><!-- /.full_banner_line -->
    	<section class="banner_container_fix">
             
            <div class="flexslider">
            <ul class="slides">
	    	<li>
	    		<img src="/media/images/banner/Barchart_banner.jpg"  alt="image" />
	    		<span class="flex-caption-bgfull"></span>
	    		<span class="flex-caption-bg"></span>
	    		<div class="flex-caption">
                	<h2>RC-Stats - tracking rc race results.</h2>
                    <p>All your RC race results in a single location for easy comparison and analysis. Whether you race indoor, outdoor, 1/10th, 1/8th etc, your results can be stored here.</p>
                </div>
	    	</li>
	    	<li>
	    		<img src="/media/images/banner/Laptimes_banner.jpg"  alt="image" />
	    		<span class="flex-caption-bgfull"></span>
	    		<span class="flex-caption-bg"></span>
	    		<div class="flex-caption">
                	<h2>Clear graphs to review lap times.</h2>
                    <p>Dynamic visuals to let you review race information at a whole new level.</p>
                </div>
	    	</li>
	    	<li>
	    		<img src="/media/images/banner/IMG_4785.JPG" alt="image" />
	    		<span class="flex-caption-bgfull"></span>
	    		<span class="flex-caption-bg"></span>
	    		<div class="flex-caption">
                	<h2>Race results &amp; performance stats.</h2>
                    <p>Results organized by racer, track, and race class.<br /> Helping you make informed decisions on setup changes. </p>
                </div>
	    	</li>
            </ul><!-- /.slides -->
            </div><!-- /.flexslider -->
        
        </section><!-- /.banner_container_fix --> 
    </section><!-- /#banner-container -->   
    
{% endblock %}
    
{% block content %}

<section class="full_width">
<section class="strap_box">
<h3>NEW - Ranking</h3>
<p>A Ranking system by track and class has been added! You can see the current leader board and look at your progress over time (compared to similarly ranked racers). This is a <b>FIRST</b> in remote control car racing, now any track can have a free ranking system for club races. As more results are compiled we will have the ability to rank and compare across entire regions.</p>
<a href="/ranking" class="button orange" target="_self"><span>Detailed Description</span></a>
<a href="/ranking/1/" class="button orange" target="_self"><span>TRCR Stock Buggy</span></a>
<p></br></p>
<h3>NEW - File Uploading for Tracks</h3>
<p>Now race results are uploaded the night of the race! With the uploader finished, users can push their results into the system. This is a FREE service for racers and tracks.</p>
</section><!-- /.strap_box --> 
</section><!-- /.full_width -->

<section class="full_width">
<section class="strap_box">
<h3>Quick video showing how to use the site.</h3>
<iframe width="660" height="415" src="http://www.youtube.com/embed/GUwx7bo3fNo" frameborder="0" allowfullscreen></iframe>
</section><!-- /.strap_box -->
</section><!-- /.full_width --> 
        	
<section class="full_width">
<div class="message-box green">
<h5>A message from the site creator</h5>
<p>Thank you for taking the time to visit rc-stats. I created this site in my free time to help contribute back to the sport I enjoy so much. I have been working hard to incorporate feedback throughout the development process and I want to continue to refine and improve the site. If you have a suggestion on how the site could be easier to use, or a feature that would be useful, I will do my best to help.</p>
<h5>I hope you enjoy the site, thanks! </h5>
</div><!-- /.message-box -->
</section><!-- /.full_width --> 

{% endblock %}