{% extends "base.html" %}

{% block title %}
RC-Stats - MyResults
{% endblock %}

{% block description %}    
RC-Stats stores your remote control race results and gives you tools to track your race results. We support indoor, outdoor, on-road, and off-road RC racing.
{% endblock %}

{% block pagetitle %}MyResults{% endblock %}
{% block pagetitle_description %}Results for individual racers. Each racer tracked in the system has an individual page with their results and achievements.{% endblock %}


{% block content %}
<section class="full_width">

 <section class="two_third">
 
 <h5>Select a name from below.</h5>
 <p>Your name may appear more than once or have misspellings, this is because we are extracting the information the track has recorded (if they get it wrong we get it wrong).</p>
 <div class="message-box green">
   <p>We are working on a system to give you more control over the results you want to track. In the mean time, working with your race director to set the correct name in the scoring system is the best option.</p>
 </div><!-- /.message-box -->
   
<div id="myresults_racerid_table" class="ex_highlight"></div>
    
   </section><!-- /.two_third -->         

	<section class="one_third last">
          
         	<section class="widget">
            	<h3>Featured Racers</h3>
                <ul class="menu">
     {% if featured_racers %}
     {% for featured_racer in featured_racers %}
     <li><a href="/myresults/{{ featured_racer.racerid.id }}/">{{ featured_racer.racerid.racerpreferredname }}</a></li>
     {% endfor %}
     </ul>
     {% else %}
     <p>No racers currently featured.</p>
     {% endif %}	       
                </ul>
            </section><!-- /.widget -->
         
         	<section class="widget">
            	<h3>Get Featured</h3>
                <p>Want someone added (including yourself)? Just ask!</p>                        
            </section><!-- /.widget -->	

	</section><!-- /.one_third last -->
</section><!-- /.full_width -->         
        
{% endblock %}

{% block scripts %} 
  <script src="/media/js/datatables/jquery.dataTables.js" type="text/javascript" language="javascript"></script>
  <script type="text/javascript" charset="utf-8">  	
/*-------------------------------
* Datatables to display the racerids
-------------------------------*/

		$(document).ready(function() {
		    $('#myresults_racerid_table').html( '<table cellpadding="5" cellspacing="0" border="1" class="display" id="racerid_table"></table>' );
		    var oTable = $('#racerid_table').dataTable( {
		    			        			        
		        "aaData": {% autoescape off %} {{  racer_names  }} {% endautoescape %},
		        "sScrollX": "80%",
		        "aoColumns": [
		        				{ "sTitle": "Racer Name" },
							    { "sTitle": "id",
							      "bVisible": false }
		        ]
		    } );			

			$("#racerid_table").delegate("tr", "click", function() {
				var iPos = oTable.fnGetPosition( this );
				if(iPos!=null){
				    var aData = oTable.fnGetData( iPos );//get data of the clicked row
				    window.location.href = '/myresults/' + aData[1]
				}				
			} );
		} );
					
  </script>
{% endblock %}
 