{% extends "base.html" %}

{% block title %}
RC-Stats - Ranking by Class and Track
{% endblock %}

{% block description  %}    
Rankings by race class and track. Using advanced statistical techniques, we provide high fidelity estimations of skill.
{% endblock %}

{% block pagetitle %}{{ trackname }} Ranking{% endblock %}
{% block pagetitle_description %}Ranking for {{ classname }} - last updated {{ lastdate }}{% endblock %}


{% block content %}
        	
<section class="full_width">
			</br>
			<p>A more detailed description of the ranking system and be found <a href="/ranking"><span>here</span></a>. A quick overview of the system:
			<ul class="bullet-black">
			<li>Ranking started on {{ startdate }}</li>
			<li>You must have at least {{ requiredraces }} races in the class.</li>
			<li>After you have missed {{ experation }} races your rank will no longer be displayed.
			<li>This is an <b>estimation</b> of skill using statistical methods, the numbers displayed with the rankings are <b>relative</b> to your fellow racers at this track and in this class.</li>
			<li>Links to the most recent races used for ranking are provided at the bottom of the page.</li>
			</ul>
			</p>
			
	{% if current_ranking %}
	<table class="dark">
	<tbody>
  	<tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Skill</th>
    <th>Link</th>
    </tr>
    {% for rank_list in current_ranking %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ rank_list.0.racerpreferredname }}</td>
    <td>{{ rank_list.1 }}</td>
    <td><a href="/myresults/{{ rank_list.0.id }}/">link</a></td>
    </tr>
    {% endfor %} 
    </tbody>
    </table>
    {% endif %}	
    			
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Ranking over time</h3>
		    </section> <!--  END content_heading -->
		    
		    <div class="message-box green">
				<h5>Hover over the points on the graph to get the name and rank!</h5>
			</div><!-- /.message-box -->
			
			{% for group in super_group %}
			<h3>{{ group.title }}</h3>
			<div id="laptimegraph_placeholder{{ group.js_id }}" style="width:950px;height:700px;"></div>
			{% endfor %}

			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Races Used in Rank Calculation</h3>
		    </section> <!--  END content_heading -->

	{% if racedetails_used %}
	<table class="dark">
	<tbody>
  	<tr>
    <th>Class</th>
    <th>Date</th>
    <th>Link</th>
    </tr>
    {% for details_list in racedetails_used %}
    {% for details in details_list %}
    <tr {% if forloop.parentloop.counter|divisibleby:"2" %}class="alt"{% endif %}>
    <td>{{ details.racedata }}</td>
    <td>{{ details.racedate }}</td>
    <td><a href="/displayresults/singleracedetailed/{{ details.id }}/">link</a></td>
    </tr>
    {% endfor %}
    {% endfor %} 
    </tbody>
    </table>
    {% endif %}			
</section><!-- /.full_width --> 
					
{% endblock %}


{% block scripts %}

   	<script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script>   	
	
	{% for group in super_group %}
			
 	<script type="text/javascript" charset="utf-8">
 	 									
		$(function () {
	    	var datasets = {% autoescape off %} {{ group.ranking_graph_jsdata }} {% endautoescape %};    
		    
		        
		    function plotAccordingToChoices() {
		        var data = [];
		
		        $.each(datasets, function(key, val) {
		        //choiceContainer.find("input:checked").each(function () {
		        //    var key = $(this).attr("name");
		        //    if (key && datasets[key])
		                data.push(datasets[key]);
		        });
		
		        if (data.length > 0)
		            $.plot($("#laptimegraph_placeholder{{ group.js_id }}"), data, {
		                //yaxis: { min: 0 },
		                xaxis: { tickDecimals: 0 },
		                lines: {show:true},
		                points: {show:true},
		                grid: {hoverable: true, }, // Hover tooltip
		            });
		    }		
		    plotAccordingToChoices();
		    
		    // ====================================================================
		    // Hover tooltip
		    // ====================================================================		    
		    
		    function showTooltip(x, y, contents) {
	        $('<div id="flot-tooltip">' + contents + '</div>').css( {
	        	'font-size': '15px',
	        	'color': 'white',
	            position: 'absolute',
	            display: 'none',
	            top: y + 5,
	            left: x + 5,
	            border: '2px solid #000000',
	            padding: '2px',
	            'background-color': '#EF5D1C', //'#fee',
	            opacity: 0.95
	        }).appendTo("body").fadeIn(200);
	    	}
	    
		    var previousPoint = null;	    
		    
	   		$("#laptimegraph_placeholder{{ group.js_id }}").bind("plothover", function (event, pos, item) {
	   			if (item) {
		            if (previousPoint != item.datapoint) {
		                previousPoint = item.datapoint;
		                $("#flot-tooltip").remove();
		 
		                y = item.datapoint[1];
		 
		                showTooltip(item.pageX, item.pageY,
		                    item.series.label + ": " + y);
		            }
		        } else {
		            $("#flot-tooltip").remove();
		            previousPoint = null;
		        }   		
	   		});
		    
		});
 	
 	</script>
 	{% endfor %}
 	
{% endblock %}