{% extends "base.html" %}

{% block title %}
RC-Stats - Ranking by Class and Track
{% endblock %}

{% block description  %}    
Rankings for users by race class and track. Using advanced statistical techniques, we provide high fidelity estimations of skill currently and over time.
{% endblock %}

{% block pagetitle %}{{ trackname }} Ranking{% endblock %}
{% block pagetitle_description %}Ranking for {{ classname }}{% endblock %}


{% block content %}
        	
<section class="full_width">
			</br>
			<p>A more detailed description of the ranking system and be found <a href="/ranking"><span>here</span></a>. A quick overview of the system:
			<ol>
<li>You must have at least 10 races in the class (with this name, if the ranking is for "stock buggy" but the results for the night are under "open buggy", they will not be counted).</li>
<li>This is an <b>estimation</b> of your skill using statistical methods, the numbers displayed with the rankings are <b>relative</b> to your fellow racers at this track and in this class.</li>
<li>This is meant to be a fun, informational, and transparent system, if you want more information on the rules or have suggestions on how to do it differently then please share your input. This is an early implementation, so expect results to change as bugs and changes are made.</li>
			</ol>
			</p>
			
			<div id="racedetails_placeholder"></div>
			
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Ranking over time</h3>
		    </section> <!--  END content_heading -->
		    
		    <div class="message-box green">
				<h5>Hover over the points on the graph to get the name and rank!</h5>
			</div><!-- /.message-box -->
			
			{% for group in super_group %}
			<h3>{{ group.title }}</h3>
			<div id="laptimegraph_placeholder{{ group.js_id }}" style="width:950px;height:700px;"></div>
			{% endfor %}
			
</section><!-- /.full_width --> 
					
{% endblock %}


{% block scripts %}

	<script src="/media/js/datatables/jquery.dataTables.js" type="text/javascript" language="javascript"></script>
   	<script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script>   	
	
		<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		    $('#racedetails_placeholder').html( '<table cellpadding="5" cellspacing="0" border="1" class="display" id="racedetails_table"></table>' );
		    $('#racedetails_table').dataTable( {
		    	"bPaginate": false,
		        "bLengthChange": false,
		        "bFilter": false,				        
		        "bInfo": false,
		        "aaData": {% autoescape off %} {{  current_ranking  }} {% endautoescape %},
		        "sScrollX": "65%",
		        "aoColumns": [
		        				{ "sTitle": "Order" },
							    { "sTitle": "Racer" , "sClass": "center" },
								{ "sTitle": "Ranking" }
		        ]
		    } );			
		} );					
	</script>
	
	{% for group in super_group %}
			
 	<script type="text/javascript" charset="utf-8">
 	 									
		$(function () {
	    	var datasets = {% autoescape off %} {{ group.ranking_graph_jsdata }} {% endautoescape %};    
		    
		        
		    function plotAccordingToChoices() {
		        var data = [];
		
		        $.each(datasets, function(key, val) {
		        //choiceContainer.find("input:checked").each(function () {
		        //    var key = $(this).attr("name");
		        //    if (key && datasets[key])
		                data.push(datasets[key]);
		        });
		
		        if (data.length > 0)
		            $.plot($("#laptimegraph_placeholder{{ group.js_id }}"), data, {
		                //yaxis: { min: 0 },
		                xaxis: { tickDecimals: 0 },
		                lines: {show:true},
		                points: {show:true},
		                grid: {hoverable: true, }, // Hover tooltip
		            });
		    }		
		    plotAccordingToChoices();
		    
		    // ====================================================================
		    // Hover tooltip
		    // ====================================================================		    
		    
		    function showTooltip(x, y, contents) {
	        $('<div id="flot-tooltip">' + contents + '</div>').css( {
	        	'font-size': '15px',
	        	'color': 'white',
	            position: 'absolute',
	            display: 'none',
	            top: y + 5,
	            left: x + 5,
	            border: '2px solid #000000',
	            padding: '2px',
	            'background-color': '#EF5D1C', //'#fee',
	            opacity: 0.95
	        }).appendTo("body").fadeIn(200);
	    	}
	    
		    var previousPoint = null;	    
		    
	   		$("#laptimegraph_placeholder{{ group.js_id }}").bind("plothover", function (event, pos, item) {
	   			if (item) {
		            if (previousPoint != item.datapoint) {
		                previousPoint = item.datapoint;
		                $("#flot-tooltip").remove();
		 
		                y = item.datapoint[1];
		 
		                showTooltip(item.pageX, item.pageY,
		                    item.series.label + ": " + y);
		            }
		        } else {
		            $("#flot-tooltip").remove();
		            previousPoint = null;
		        }   		
	   		});
		    
		});
 	
 	</script>
 	{% endfor %}
 	
{% endblock %}