<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/datatables/jquery.dataTables.js" type="text/javascript" language="javascript"></script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	
	{% for result in raceresults %}

	    $('#dynamic{{  result.tagid  }}').html( '<table cellpadding="5" cellspacing="0" border="1" class="display" id="table{{  result.tagid  }}"></table>' );
	    $('#table{{  result.tagid  }}').dataTable( {
	    	"bPaginate": false,
	        "bLengthChange": false,
	        "bFilter": false,				        
	        "bInfo": false,
	        "aaData": {% autoescape off %} {{  result.individual_results  }} {% endautoescape %},
	        "sScrollX": "100%",
	        "aoColumns": [
	        				{ "sTitle": "Finish" },
						    { "sTitle": "Racer" , "sClass": "center" },
							{ "sTitle": "LapCount" },
							{ "sTitle": "RaceTime" },
							{ "sTitle": "FastLap" },
							{ "sTitle": "Behind" }
	        ]
	    } );		    
	{% endfor %}		
	} );
</script>

<p>Race results from race day {{ display_date }}, this will include all qualifiers and main events currently being tracked. Not all tracks record qualifying races.</p>
{% for result in raceresults %}
    <p>
    <h3>{{  result.racedata  }}</h3><br />
    RoundNumber:{{  result.roundnumber  }}<br />
    RaceNumber:{{  result.racenumber  }}<br />
    RaceDate:{{  result.racedate  }}
    </p>
    <div id="dynamic{{  result.tagid  }}"></div>
    </div>
{% endfor %}



