{% extends "base.html" %}

{% block title %}
RC-Stats - Detailed Race Results
{% endblock %}

{% block description %}    
RC-Stats stores your remote control race results and gives you tools to track your race results. We support indoor, outdoor, on-road, and off-road RC racing.
{% endblock %}

{% block pagetitle %}SingleRace{% endblock %}
{% block pagetitle_description %}Detailed information for a single race.{% endblock %}


{% block content %}
        	
<section class="full_width">
			<h5>{{  racedetails.racedata  }}</h5>
			RoundNumber:{{  racedetails.roundnumber  }}<br />
			RaceNumber:{{  racedetails.racenumber  }}<br />
			RaceDate:{{  racedetails.racedate  }}<br />
			<div id="racedetails_placeholder"></div>
			
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Recent Race Results - Fastest Time Each Race</h3>
		    </section> <!--  END content_heading -->
		    <div class="message-box">
            <p>The winning race times from the last several races on this track, in this class, with the same race length (6 or 8 minutes). More is better and you can hover over the points on the graph to see the exact racetime and number of laps along with the date of the specific race.</p>
            </div><!-- /.message-box -->		    
			<div id="recent_laptimes_placeholder" style="width:950px;height:320px;"></div>
			
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Lap Time Graph</h3>
		    </section> <!--  END content_heading -->
								
			<div id="laptimegraph_placeholder" style="width:950px;height:600px;"></div>
			<p id="choices">Show:</p>
			
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Lap Time Table</h3>
		    </section> <!--  END content_heading -->
		    
			<div id="laptimestable_placeholder" class="functions"></div>
			
</section><!-- /.full_width --> 
					
{% endblock %}


{% block scripts %}

   	<script src="/media/js/datatables/jquery.dataTables.js" type="text/javascript" language="javascript"></script>
  	<script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script> 
  	<script type="text/javascript" src="/media/js/flot/jquery.flot.pie.min.js"></script>    
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		    $('#racedetails_placeholder').html( '<table cellpadding="5" cellspacing="0" border="1" class="display" id="racedetails_table"></table>' );
		    $('#racedetails_table').dataTable( {
		    	"bPaginate": false,
		        "bLengthChange": false,
		        "bFilter": false,				        
		        "bInfo": false,
		        "aaData": {% autoescape off %} {{  racedetails.individual_results  }} {% endautoescape %},
		        "sScrollX": "100%",
		        "aoColumns": [
		        				{ "sTitle": "Finish" },
							    { "sTitle": "Racer" , "sClass": "center" },
								{ "sTitle": "LapCount" },
								{ "sTitle": "RaceTime" },
								{ "sTitle": "FastLap" },
								{ "sTitle": "Behind" }
		        ]
		    } );			
		} );					
	</script>
 	
 	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		    $('#laptimestable_placeholder').html( '<table cellpadding="5" cellspacing="0" border="1" class="display" id="laptimetable"></table>' );
		    $('#laptimetable').dataTable( {
		    	"bPaginate": false,
		        "bLengthChange": false,
		        "bFilter": false,				        
		        "bInfo": false,
		        "aaData": {% autoescape off %} {{  laptime_jsdata  }} {% endautoescape %},
		        
		        "aoColumns": [ { "sTitle": "Lap" },
		        				{% for name in column_names %}
			        				{ "sTitle": "{{ name }}" },
								{% endfor %}
		        ]		
		    } );			
		} );					
	</script>

 	<script type="text/javascript" charset="utf-8">
 	 									
		$(function () {
	    	var datasets = {% autoescape off %} {{ laptime_graph_jsdata }} {% endautoescape %};    
		    // hard-code color indices to prevent them from shifting as
		    // selections are turned on/off
		    var i = 0;
		    $.each(datasets, function(key, val) {
		        val.color = i;
		        ++i;
		    });
	    
		    // insert checkboxes 
		    var choiceContainer = $("#choices");
		    $.each(datasets, function(key, val) {
		        choiceContainer.append('<br/><input type="checkbox" name="' + key +
		                               '" checked="checked" id="id' + key + '">' +
		                               '<label for="id' + key + '">'
		                                + val.label + '</label>');
		    });
		    choiceContainer.find("input").click(plotAccordingToChoices);
		    
		    function plotAccordingToChoices() {
		        var data = [];
		
		        choiceContainer.find("input:checked").each(function () {
		            var key = $(this).attr("name");
		            if (key && datasets[key])
		                data.push(datasets[key]);
		        });
		
		        if (data.length > 0)
		            $.plot($("#laptimegraph_placeholder"), data, {
		                //yaxis: { min: 0 },
		                xaxis: { tickDecimals: 0 },
		                lines: {show:true},
		                points: {show:true},
		                grid: {hoverable: true, }, // Hover tooltip
		            });
		    }
		
		    plotAccordingToChoices();
		    
		    // ====================================================================
		    // Hover tooltip
		    // ====================================================================		    
		    
		    function showTooltip(x, y, contents) {
	        $('<div id="flot-tooltip">' + contents + '</div>').css( {
	        	'font-size': '15px',
	        	'color': 'white',
	            position: 'absolute',
	            display: 'none',
	            top: y + 5,
	            left: x + 5,
	            border: '2px solid #000000',
	            padding: '2px',
	            'background-color': '#EF5D1C', //'#fee',
	            opacity: 0.95
	        }).appendTo("body").fadeIn(200);
	    	}
	    
		    var previousPoint = null;	    
		    
	   		$("#laptimegraph_placeholder").bind("plothover", function (event, pos, item) {
	   			if (item) {
		            if (previousPoint != item.datapoint) {
		                previousPoint = item.datapoint;
		                $("#flot-tooltip").remove();
		 
		                y = item.datapoint[1];
		 
		                showTooltip(item.pageX, item.pageY,
		                    item.series.label + ": " + y);
		            }
		        } else {
		            $("#flot-tooltip").remove();
		            previousPoint = null;
		        }   		
	   		});
	   		
		});
 	
 	</script>
 	
 	<!-- 
 	===================================================================================
	Recent lap times flot graph
 	=================================================================================== 	
 	 --> 	
 	<script type="text/javascript">
	$(function () {
   		var datasets = {% autoescape off %} {{ recent_laptimes_jsdata }} {% endautoescape %};
  
           $.plot($("#recent_laptimes_placeholder"), datasets, {
               yaxis: { tickDecimals: 0 }, //min: 0 },
               //xaxis: { tickDecimals: 0 },
               //stack: 0,
               //lines: {show: false, steps: false },
               //bars: {show: true, barWidth: 0.8, align: 'center',},   
               grid: {hoverable: true, },             
           });    		
   		
    	function showTooltip(x, y, contents_l1, contents_l2) {
	        $('<div id="flot-tooltip">' + contents_l1 + '</br>' + contents_l2 + '</div>').css( {
	        	'font-size': '15px',
	        	'color': 'white',
	            position: 'absolute',
	            display: 'none',
	            top: y + 5,
	            left: x + 5,
	            border: '2px solid #000000',
	            padding: '2px',
	            'background-color': '#EF5D1C', //'#fee',
	            opacity: 0.95
	        }).appendTo("body").fadeIn(200);
	    }
	    
	    var previousPoint = null;	    
	    
   		$("#recent_laptimes_placeholder").bind("plothover", function (event, pos, item) {
   			if (item) {
	            if (previousPoint != item.datapoint) {
	                previousPoint = item.datapoint;
	                $("#flot-tooltip").remove();
	 				var tooltip_l1 = item.series.data[item.dataIndex][2];
	 				var tooltip_l2 = item.series.data[item.dataIndex][3];
	                showTooltip(item.pageX, item.pageY, tooltip_l1, tooltip_l2);
	            }
	        } else {
	            $("#flot-tooltip").remove();
	            previousPoint = null;
	        }   		
   		});
	});
  </script>  
{% endblock %}