{% extends "base.html" %}


{% block pagetitle %}SingleRace{% endblock %}
{% block pagetitle_description %}Detailed information for a single race.{% endblock %}


{% block content %}
        	
<section class="full_width">
			<h5>{{  racedetails.racedata  }}</h5>
			RoundNumber:{{  racedetails.roundnumber  }}<br />
			RaceNumber:{{  racedetails.racenumber  }}<br />
			RaceDate:{{  racedetails.racedate  }}<br />
			<div id="racedetails_placeholder"></div>
			
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Lap Time Graph</h3>
		    </section> <!--  END content_heading -->
								
			<div id="laptimegraph_placeholder" style="width:950px;height:600px;"></div>
			<p id="choices">Show:</p>
			
			<section class="content_heading">
            	<a class="gotop" href="#"></a>
                <h3>Lap Time Table</h3>
		    </section> <!--  END content_heading -->
		    
			<div id="laptimestable_placeholder" class="functions"></div>
			
</section><!-- /.full_width --> 
					
{% endblock %}


{% block scripts %}

   	<script src="/media/js/datatables/jquery.dataTables.js" type="text/javascript" language="javascript"></script>
  	<script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script> 
  	<script type="text/javascript" src="/media/js/flot/jquery.flot.pie.min.js"></script>    
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		    $('#racedetails_placeholder').html( '<table cellpadding="5" cellspacing="0" border="1" class="display" id="racedetails_table"></table>' );
		    $('#racedetails_table').dataTable( {
		    	"bPaginate": false,
		        "bLengthChange": false,
		        "bFilter": false,				        
		        "bInfo": false,
		        "aaData": {% autoescape off %} {{  racedetails.individual_results  }} {% endautoescape %},
		        "sScrollX": "100%",
		        "aoColumns": [
		        				{ "sTitle": "Finish" },
							    { "sTitle": "Racer" , "sClass": "center" },
								{ "sTitle": "LapCount" },
								{ "sTitle": "RaceTime" },
								{ "sTitle": "FastLap" },
								{ "sTitle": "Behind" }
		        ]
		    } );			
		} );					
	</script>
 	
 	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		    $('#laptimestable_placeholder').html( '<table cellpadding="5" cellspacing="0" border="1" class="display" id="laptimetable"></table>' );
		    $('#laptimetable').dataTable( {
		    	"bPaginate": false,
		        "bLengthChange": false,
		        "bFilter": false,				        
		        "bInfo": false,
		        "aaData": {% autoescape off %} {{  laptime_jsdata  }} {% endautoescape %},
		        
		        "aoColumns": [ { "sTitle": "Lap" },
		        				{% for name in column_names %}
			        				{ "sTitle": "{{ name }}" },
								{% endfor %}
		        ]		
		    } );			
		} );					
	</script>
 	
 	<script type="text/javascript" charset="utf-8">
 	 									
		$(function () {
	    	var datasets = {% autoescape off %} {{ laptime_graph_jsdata }} {% endautoescape %};    
		    // hard-code color indices to prevent them from shifting as
		    // countries are turned on/off
		    var i = 0;
		    $.each(datasets, function(key, val) {
		        val.color = i;
		        ++i;
		    });
	    
		    // insert checkboxes 
		    var choiceContainer = $("#choices");
		    $.each(datasets, function(key, val) {
		        choiceContainer.append('<br/><input type="checkbox" name="' + key +
		                               '" checked="checked" id="id' + key + '">' +
		                               '<label for="id' + key + '">'
		                                + val.label + '</label>');
		    });
		    choiceContainer.find("input").click(plotAccordingToChoices);
		    
		    function plotAccordingToChoices() {
		        var data = [];
		
		        choiceContainer.find("input:checked").each(function () {
		            var key = $(this).attr("name");
		            if (key && datasets[key])
		                data.push(datasets[key]);
		        });
		
		        if (data.length > 0)
		            $.plot($("#laptimegraph_placeholder"), data, {
		                //yaxis: { min: 0 },
		                xaxis: { tickDecimals: 0 },
		                lines: {show:true},
		                points: {show:true},
		            });
		    }
		
		    plotAccordingToChoices();
		});
 	
 	</script>
 	
{% endblock %}