<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RCRacePerformance</title>
<link rel="stylesheet" type="text/css" href="static/default.css"/>
</head>

<body>

    <div class="wrapOverall">
    
        <div class="header">
        	
        	<a href="index.html">
          	<img class="logo" src="images/headerLogo.png" width="564" height="52" alt="RCRacePerformance"/>
          	</a>
          
        	<div class="navMain">
            	
                <ul>                    
                    <li><a href="MyResults">MyResults</a></li>
                    <li><a href="TrackData">TrackData</a></li>
                </ul>
                
            </div>
        		
        </div> <!-- END header -->
        
        <div class="content">
        
        <!--
        	<div class="wrapLinks">

            	<ul>
                	<li><a href="#">Web Hosting</a></li>
                    <li><a href="#">cPanel</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Reseller</a></li>
                </ul>
                
            </div>
        -->
        </div> <!-- END content -->

		<div>
			<h1>{{ trackname }}</h1>
			<h2>Total number of wins since {{ filterdate }}</h2>
			{% for topwin in topwins %}
		        <li>{{ topwin.1 }} - {{ topwin.2 }}</li>	        
		    {% endfor %}
		    
		    <h2>Total number of laps since {{ filterdate }}</h2>			
			{% for toplap in toplaps %}
		        <li>{{ toplap.1 }} - {{ toplap.2 }}</li>	        
		    {% endfor %}
		</div>
	</div>

</body>
</html>