<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RCRacePerformance</title>
<link rel="stylesheet" type="text/css" href="static/default.css"/>
</head>

<body>

    <div class="wrapOverall">
    
        <div class="header">
        	
        	<a href="/rcdata">
          	<img class="logo" src="images/headerLogo.png" width="564" height="52" alt="RCRacePerformance"/>
          	</a>
          
        	<div class="navMain">
            	
                <ul>                    
					<li><a href="/rcdata/myresults">MyResults</a></li>
                    <li><a href="/rcdata/trackdata">TrackData</a></li>
                </ul>
                
            </div>
       
        </div> <!-- END header -->

		<div>
			{% if track_list %}
		    <ul>
		    {% for track in track_list %}
		        <li><a href="/rcdata/trackdata/{{ track.id }}/">{{ track.trackkey }}</a></li>
		        {{ track.trackurl }}
		    {% endfor %}
		    </ul>
			{% else %}
			    <p>No tracks are available.</p>
			{% endif %}	
		</div>
	</div>
</body>
</html>