{% extends "base.html" %}

{% block title %}
RC-Stats - Upload
{% endblock %}

{% block description %}    
RC-Stats stores your remote control race results and gives you tools to track your race results. We support indoor, outdoor, on-road, and off-road RC racing.
{% endblock %}

{% block pagetitle %}Upload Race Results{% endblock %}
{% block pagetitle_description %}Upload race results from the scoring system.{% endblock %}


{% block content %}

<section class="full_width">


{% if state %}
<section class="two_third">
<div class="message-box red">
	<h2>Error</h2>
	<p>{{ state }}</p>	
</div><!-- /.message-box -->

<h2>Your results should look similar to these:</h2>
<img src="/media/images/exampleformat.png" alt="Example race results" />
	
</section>

{% endif %}


{% if prevalidation_race_list %}
<h2>Please Validate the following races you are about to upload:</h2> 
<h3>It is <b>IMPORTANT</b> to verify the correct track name is used. You must select the correct track from the dropdown. The choice you select will be used for all the races uploaded in this file.</h3>

{% if uploadtrackname %}
<h3>The trackname that is in the file: <b>"{{ uploadtrackname }}"</b></h3>
{% endif %}

<form action="" method="post">
	{% csrf_token %}
    Trackname:	
	<select name="track_id">
	{% for entry in form.supported_tracks %}
    <option value="{{ entry.0 }}">{{ entry.1 }}</option>
	{% endfor %}
	</select>

	<input type="submit" value="Submit">
</form>
</br>
</br>
</br>
<div id="accordion">
	<div>
        <h3><a href="#">Why do we have this step?</a></h3>
        <div>
       	<p>It is common for the trackname to get changed on the race directors machine. It saves time and energy down the road if we can enforce that the file be uploaded with the correct trackname.</p>	
		</div>
    </div>
	<div>
        <h3><a href="#">Don't see the trackname you want to use?</a></h3>
        <div>
        <p>New tracks need to be added by an admin, if you are in a hurry you can email the results to rcstats.site@gmail.com with the trackname you want to use and they will be uploaded for you.</p>
        </div>
    </div>
    <div>
        <h3><a href="#">What is all the junk below?</a></h3>
        <div>
       	<p>This is a quick dump to help you verify that the system is correctly reading results
		before they are processed and sent to the database.</p>
		<p>This is a raw dump of the results, I will improve the readability in the future.</p>	
		</div>
    </div>           
</div><!-- /.accordion -->

{% for race in prevalidation_race_list %}
<section class="content_heading">
	<a class="gotop" href="#"></a>
	<h3>{{ race.raceClass }}</h3>
</section> <!--  END content_heading -->
<p>
TrackName:{{ race.trackName }}</br>
Class: {{ race.raceClass }}</br>
RoundNumber: {{ race.roundNumber }}</br>
RaceNumber: {{ race.raceNumber }}</br>
Header Data:</br>
{% if race.raceHeaderData %}
{% for racer in race.raceHeaderData %}
{{ racer }}</br> 
{% endfor %}
{% endif %}

Lap Times</br>
{% if race.lapRowsTime %}
{% for laptime in race.lapRowsTime %}
{{ laptime }}</br> 
{% endfor %}
{% endif %}

Position at Each Lap</br>
{% if race.lapRowsPosition %}
{% for lappos in race.lapRowsPosition %}
{{ lappos }}</br> 
{% endfor %}
{% endif %}
</p>

{% endfor %}
{% endif %}
     
</section><!-- /.full_width --> 
{% endblock %}
