{% extends "base.html" %}


{% block pagetitle %}Upload Race Results{% endblock %}
{% block pagetitle_description %}Upload race results from the scoring system.{% endblock %}


{% block content %}

<section class="full_width">
<h2>{{ error_status }}</h2>   
	<form action="/upload_start/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="file" name="file" />
	<input type="submit" name="submit" value="Upload" />
</form>
        
{{ form.errors }}
{{ form.non_field_errors }}
</section><!-- /.full_width --> 
{% endblock %}
