{% extends "base.html" %}


{% block pagetitle %}Upload Race Results{% endblock %}
{% block pagetitle_description %}Upload race results from the scoring system.{% endblock %}


{% block content %}

<section class="full_width">


{% if state %}
<section class="two_third">
<div class="message-box red">
	<h2>Error</h2>
	<p>{{ state }}</p>	
</div><!-- /.message-box -->
</section>
{% endif %}


{% if uploaded_races_list %}
<h2>These are the individual races that you uploaded</h2> 
<p>You can use the links below to share or verify the races you uploaded.</p>

{% for race in uploaded_races_list %}
<a href="/displayresults/singleracedetailed/{{ race.1 }}/">{{ race.0 }}</a></br>
{% endfor %}

{% endif %}
     
</section><!-- /.full_width --> 
{% endblock %}
