{% extends "base.html" %}

{% block title %}
RC-Stats - EasyUpload
{% endblock %}

{% block description %}    
RC-Stats stores your remote control race results and gives you tools to track your race results. We support indoor, outdoor, on-road, and off-road RC racing.
{% endblock %}

{% block pagetitle %}EasyUpload{% endblock %}
{% block pagetitle_description %}Select a track to upload race results for.{% endblock %}
  
 
{% block content %}

<section class="full_width">

	<h3>Select a track you want to upload race results for:</h3>
	{% if track_list %} 
	{% for track in track_list %}
	<a class="button blue" href="/easyupload_fileselect/{{ track.trackkey.id }}/"><span>{{ track.trackkey.trackname }}</span></a>
	</br>
	{% endfor %}	
	{% else %}
	<p>No tracks are available.</p>
	{% endif %}

	<div class="message-box green">
		<p>Don't see the track you are looking for? Please contact the administrator to have a track added. To ensure quality results we only allow administrators to add new tracks to the system.</p>
	</div><!-- /.message-box -->
	
	<a class="button yellow" href="/upload_start"><span>Looking for the old uploader?</span></a>

</section><!-- /.full_width --> 

{% endblock %}